#House_Prices Project

In [17]:
#importing libraries and dataframe
import numpy as np
import pandas as pd
df = pd.read_csv('test.csv')

In [18]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

##Gathering Basic Information About the Dataframe such as the columns, shape, etc

In [34]:
print('# of rows:',df.shape[0],', # of columns:',df.shape[1])

# of rows: 1459 , # of columns: 80

In [38]:
df.dtypes.value_counts()

object     43
int64      26
float64    11
dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

AttributeError: 'NoneType' object has no attribute 'sum'

##Finding and Determining How to Handle Null Values in the Dataset

In [21]:
col_with_nulls = df.isnull().sum()
col_with_nulls = col_with_nulls[col_with_nulls != 0]
col_with_nulls

MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
FireplaceQu      730
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
GarageArea         1
GarageQual        78
GarageCond        78
PoolQC          1456
Fence           1169
MiscFeature     1408
SaleType           1
dtype: int64

In [22]:
print(df.isnull().sum().sum(),",",col_with_nulls.sum())
#df and col_with_Null amount of null values reconciled

7000 , 7000

In [23]:
#determining how much of the null values make up the data frame
#1459 rows, 80 columns, 7000 null values
print((8000/(1459*80))*100)

6.854009595613434

In [24]:
#Determining columns where majority of rows(over 50%) are null values
col_majority_null = col_with_nulls[col_with_nulls > (1459 * 0.60)]
col_majority_null

Alley          1352
PoolQC         1456
Fence          1169
MiscFeature    1408
dtype: int64

In [25]:
col_with_nulls.sort_values(ascending = True)

TotalBsmtSF        1
GarageArea         1
GarageCars         1
KitchenQual        1
BsmtUnfSF          1
BsmtFinSF2         1
BsmtFinSF1         1
SaleType           1
Exterior1st        1
Exterior2nd        1
Functional         2
Utilities          2
BsmtHalfBath       2
BsmtFullBath       2
MSZoning           4
MasVnrArea        15
MasVnrType        16
BsmtFinType2      42
BsmtFinType1      42
BsmtQual          44
BsmtExposure      44
BsmtCond          45
GarageType        76
GarageFinish      78
GarageQual        78
GarageCond        78
GarageYrBlt       78
LotFrontage      227
FireplaceQu      730
Fence           1169
Alley           1352
MiscFeature     1408
PoolQC          1456
dtype: int64

In [26]:
col_nulls_less_than_4 = df[['TotalBsmtSF','GarageArea','GarageCars','KitchenQual','BsmtUnfSF','BsmtFinSF2','BsmtFinSF1','SaleType','Exterior1st','Exterior2nd','Functional','Utilities','BsmtHalfBath','BsmtFullBath','MSZoning']]

col_nulls_less_than_4 = col_nulls_less_than_4[col_nulls_less_than_4.isnull().any(axis=1)]

print("row count:",col_nulls_less_than_4.shape[0],str(round(((col_nulls_less_than_4.shape[0]/1459)*100),2))+"%")

row count: 12 0.82%

##Decision With Nulls

Alley, Fence, PoolQC and MiscFeature will be dropped from the dataset as over 80% of their rows are null values and cannot be properly used as an overrall factor for the data set``
The following columns will have their null values dropped. This will result in 12 rows being dropped from the dataset which is only 0.82% of the entire dataframe and will not cause a noticeable affect to it

In [27]:
df_no_nulls = df.drop(columns=['Alley','Fence','PoolQC','MiscFeature'])

df_no_nulls.dropna(subset=['TotalBsmtSF','GarageArea','GarageCars','KitchenQual','BsmtUnfSF','BsmtFinSF2','BsmtFinSF1','SaleType','Exterior1st','Exterior2nd','Functional','Utilities','BsmtHalfBath','BsmtFullBath','MSZoning'], inplace=True)

df_no_nulls.shape

(1447, 76)

In [28]:
print("Amount of null values left:",df_no_nulls.isnull().sum().sum())

Amount of null values left: 1549

In [29]:
#columns left with null values and how many in each
col_with_nulls = df_no_nulls[df_no_nulls.columns[df_no_nulls.isnull().any()]]
col_with_nulls.info()

#LotsFrontage, MasVnrArea and GarageYrBlt are nummerical while the rest are strings

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1447 entries, 0 to 1458
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1222 non-null   float64
 1   MasVnrType    1431 non-null   object
 2   MasVnrArea    1432 non-null   float64
 3   BsmtQual      1408 non-null   object
 4   BsmtCond      1407 non-null   object
 5   BsmtExposure  1408 non-null   object
 6   BsmtFinType1  1410 non-null   object
 7   BsmtFinType2  1410 non-null   object
 8   FireplaceQu   725 non-null    object
 9   GarageType    1372 non-null   object
 10  GarageYrBlt   1371 non-null   float64
 11  GarageFinish  1371 non-null   object
 12  GarageQual    1371 non-null   object
 13  GarageCond    1371 non-null   object
dtypes: float64(3), object(11)
memory usage: 169.6+ KB

In [30]:
col_with_nulls_count = df_no_nulls.isnull().sum()
col_with_nulls_count = col_with_nulls_count[col_with_nulls_count != 0]
col_with_nulls_count

LotFrontage     225
MasVnrType       16
MasVnrArea       15
BsmtQual         39
BsmtCond         40
BsmtExposure     39
BsmtFinType1     37
BsmtFinType2     37
FireplaceQu     722
GarageType       75
GarageYrBlt      76
GarageFinish     76
GarageQual       76
GarageCond       76
dtype: int64

In [31]:
# LotFrontage: Linear feet of street connected to property
# MasVnrArea: Masonry veneer area in square feet
# GarageYrBlt: Year garage was built


col_with_nulls_numerical = col_with_nulls[['LotFrontage','MasVnrArea','GarageYrBlt']]
col_with_nulls_numerical.describe()

       LotFrontage   MasVnrArea  GarageYrBlt
count  1222.000000  1432.000000  1371.000000
mean     68.414894   101.315642  1977.981765
std      22.288273   178.037055    26.275916
min      21.000000     0.000000  1895.000000
25%      58.000000     0.000000  1960.000000
50%      67.000000     0.000000  1979.000000
75%      80.000000   164.000000  2002.000000
max     200.000000  1290.000000  2207.000000

In [32]:
col_with_nulls_numerical.mode()

   LotFrontage  MasVnrArea  GarageYrBlt
0         60.0         0.0       2005.0